@import "/src/styles/config";

.inputContainer {
  margin-top: $spacing-1;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  border: 1px solid $color-grey-700;
  height: $spacing-6;
  padding: 0 $spacing-2;

  &:focus-within {
    border: 2px solid $color-primary-500;
  }
}
.iconContainer {
  color: $color-grey-700;
}
.input {
  appearance: none;
  outline: none;
  border: none;
  background-color: white;
  background-color: transparent;
  padding: 0 $spacing-2;
  flex: 1;
  color: white;
  &::placeholder {
    color: $color-grey-700;
  }
}
