@import "/src/styles/config";

.movieBanner {
  margin-top: $spacing-4;
  width: 100%;
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.title {
  padding: $spacing-4;
  background: $color-black-20;
  width: fit-content;
  min-width: 30%;
  color: white;
  backdrop-filter: blur(10px);
  margin-left: $spacing-6;
  transform: translateY(-50%);
}
