@import "/src/styles/config";
.navWrapper {
  background-color: #121829;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;

  @include on(mobile) {
    flex-direction: column;
    gap: 1rem;
  }
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 30px;

  @include on(mobile) {
    margin-bottom: 0.5rem;
  }
}

.navlinks p {
  color: $color-grey-200;
  transition: color 0.3s ease;
  &:hover {
    color: darken($color-grey-200, 10);
  }
}
